/*
 * 
 * author: Luis
 * description: Style rules for the AffableBean application
 */


/* html tags */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    text-align:center;
    margin: 0px auto;
    color: #FFF;
}

hr {
    border: 0;
    background-color: #000;
    height: 1px;
}

table {
   
   
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover { text-decoration: underline; }

a:visited { color: #FFF; }

img { border: 0; }

input, select { margin: 5px }

li { margin: 10px 0 }

label { line-height: 30px }

label.error {
    font-size: smaller;
    line-height: 20px;
    font-style: italic;
}


/* general styles */
#main { background: #2E8B57 }

#singleColumn {
    margin: 20px 30px;
    text-align: center;
}

.lightBlue { background-color: #228B22 }

.white { background-color: #32CD32 }

.bubble {
    font-weight: bold;
    padding: 5px;
    display: inline;
    border-radius: 4px;
}

.hMargin { margin: 0 40px }

.smallText { font-size:medium  }

.reallySmallText { font-size: xx-small }

.header {
    background-color: #3CB371;
    height: 30px;
}

.error {
    color: #c00;
    font-style: italic;
}

.tableHeading {
    font-weight: bold;
    background-color: #edf8f7;
}


/* styles for elements contained in the header, i.e.,
   shopping cart widget, language toggle, and logo */
#header {
    width: 850px;
    height: 170px;
    }

#logo {
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#logoText {
    float:top;
    margin: 30px 50px 70px;
    /* font styles apply to text within img alt attribute */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: left;
}

#cart {
    position: absolute;
    margin: -10px 0 0 -25px;
}

.horizontalMargin {
    margin-left: 15px;
    margin-right: 5px
}

#viewCart {
    text-align: center;
    width: 300px;
}

.headerWidget {
    width: 200px;
    margin: 20px 50px;
    font-size: small;
    float: right;
    line-height: 25px;
}


/* footer styles */
#footer {
    height: 130px;
    width: 350px;
    clear: left;
}

#footerText { 
    margin-top: 2px;
    margin-left:400px;

}

#footerDivider {
    margin: 20px 1px 10px 0px;
    width: 850px;
    
}


/* index page styles */
#indexLeftColumn {
    text-align: center;
    height: 400px;
    width: 350px;
    float: left;
}

#indexRightColumn {
    text-align: center;
    height: 400px;
    width: 500px;
    float: left;
}

#welcomeText {
    margin: 40px 25px 0 50px;
    line-height: 1.4em;
}

.categoryBox {
    height: 176px;
    width: 300px;
    margin: 21px 30px 14px 6px;
    float:right;
}

/* Safari - disables underline for category boxes on index page */
.categoryBox a { text-decoration: none }

.categoryLabel {
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    height: 40px;
    width: 210px;
    margin: 2px 5px 6px 7px;
}

.categoryLabelText {
    position: absolute;
    line-height: 250%;
    font-size: x-large;
    margin: 3px 10px;
}

.categoryImage {
    padding: 1px;
    border:solid 1px #555;
}


/* category page styles */
#categoryLeftColumn {
    width: 185px;
    float: left;
    margin-top: 25px;
    padding-left: 15px;
}

#categoryRightColumn {
    margin-top: 10px;
    width: 650px;
    float: left;
}

.categoryButton {
    margin: 15px 22px;
    padding: 13px;
    display: block;
    background-color: #d3ede8;
    border-radius: 4px;
}

#selectedCategory {
    background-color: #b2d2d2;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    margin-top: -40px;
    right: 385px;
    font-size: x-large;
    position: absolute;
    background-color: #f5eabe;
    padding: 7px;
    border-radius: 4px;
}

.categoryText {
    line-height: 25px;
    font-size: x-large;
}

#productTable {
    width: 600px;
    text-align: center;
    
    /* styles to collaborate with rounded categoryLabel */
    position:relative;
    z-index: 1;
}

#productTable tr { height: 90px }

#productTable td { width: 145px }


/* cart page styles */
#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 750px }

#cartTable td {
    width: 145px;
    height: 90px;
}


/* checkout page styles */
#checkoutTable {
    width: 405px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    border-radius: 4px;
}

#checkoutTable td {
    vertical-align: top;
    text-align: right;
    margin: 5px;
}

.inputField { width: 190px }

#infoBox { padding: 10px 25px 0 460px }

#priceBox {
    padding: 10px;
    border: 1px solid #c3e3e0;
    background-color: #32CD32;
    border-radius: 4px;
}

#priceBox td {
    text-align: right;
    padding: 5px;
}

.checkoutPriceColumn {
    width: 80px;
    font-weight: bold;
}

.total { border-top: 1px solid #444 }

.indent { margin-left: 6em }


/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    border-radius: 4px;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

.detailsTable { text-align: left }

.detailsTable th { padding: 5px 10px }

.detailsTable td {
    padding: 5px 10px 5px 20px;
    font-size: small;
    font-family: "Courier New", courier, monospace;
}

#orderSummaryTable { width: 100% }

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
}

#deliveryAddressTable td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.quantityColumn {
    text-align: center;
    width: 62px;
}

.confirmationPriceColumn {
    width: 90px;
    font-weight: normal;
}

#deliverySurchargeCellLeft {
    text-align: right;
    padding: 0;
}

#deliverySurchargeCellRight { padding: 0 20px }

#totalCellLeft {
    text-align: right;
    padding: 0;
}

#totalCellRight { padding: 0 20px }

#dateProcessedRow { padding: 2px 0 10px 20px }


/* admin styles */
#adminLogo {
    float:left;
    margin-left: 30px;
    margin-top: -20px;
}

#loginBox {
    width: 300px;
    margin: 0 auto;
    border: solid 1px #f5eabe;
    background-color: #f5eabe;
    border-radius: 4px;
}

#adminMenu {
    float: left;
    width: 180px;
    margin: 25px 5px 0 30px;
    border: solid 1px #f5eabe;
    background-color: #f5eabe;
    border-radius: 4px;
}

#adminMenu p { margin-left: 15px }

#adminTable {
    width: 580px;
    float: left;
    background-color: #edf8f7;
}

.alignLeft { text-align: left }

.selectedRow {
    background-color: #c3e3e0;
    cursor: pointer;
}

.noDecoration { text-decoration: none }

.rigidWidth { width:200px }

.embedded {
    margin: 0;
    border: none;
}