<%--
    Document   : footer
    Created on : Nov 20, 2014, 12:15:12 AM
    Author     : Luis
--%>


      <div id="footer">
                <br>
                <hr id="footerDivider">
                <p id="footerText" class="reallySmallText">
                    Derechos Reservados</p>
                <h1> Cesar * Eve * Cone</h1>
            </div>
        </div>
    </body>
</html>